{% extends 'main/base.html' %}

{% block content %}

<!-- Заголовок таблицы -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h2">Список заказов</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#new_order">Новый заказ</button>
            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#del_order">Удалить заказ</button>
            <button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#chng_order">Изменить</button>
        </div>
    </div>
</div>
<!-- Форма для новых заказов -->
<div class="modal fade" id="new_order" tabindex="-1" aria-labelledby="new_order" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newOrderHeader">Новый заказ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                  <div class="mb-3">
                    <label for="table_num" class="form-label">Номер стола</label>
                    <input type="number" class="form-control" id="table_num" required>
                  </div>
                  <div class="mb-3">
                    <label for="items" class="form-label">Список блюд</label>
                    <textarea class="form-control" id="items" required></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Создать</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Форма для удаления заказа-->
<div class="modal fade" id="del_order" tabindex="-1" aria-labelledby="del_order" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delOrderHeader">Удаление заказа</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <form method="post">
                {% csrf_token %}
              <div class="mb-3">
                <label for="delId" class="form-label">Номер заказа</label>
                <input type="number" class="form-control" id="delId" required>
              </div>
              <button type="submit" class="btn btn-primary">Удалить</button>
            </form>
            </div>
        </div>
    </div>
</div>
<!-- Форма для изменения заказа -->
<div class="modal fade" id="chng_order" tabindex="-1" aria-labelledby="chng_order" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeOrderHeader">Всплывающая форма</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <form method="post">
                {% csrf_token %}
              <div class="mb-3">
                <label for="changeId" class="form-label">Номер заказа</label>
                <input type="number" class="form-control" id="changeId" required>
              </div>
              <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
            </div>
        </div>
    </div>
</div>
<!-- Таблица заказов -->
<table class="table table-stripped">
    <thead>
        <tr>
            <th class="table-primary">ID</th>
            <th class="table-primary">Номер стола</th>
            <th class="table-primary">Список блюд</th>
            <th class="table-primary">Общая стоимость</th>
            <th class="table-primary">Статус</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
            {% if order.status == 'в ожидании' %}
                <tr class="table-danger">
            {% elif order.status == 'готово' %}
                <tr class="table-warning">
            {% elif order.status == 'оплачено' %}
                <tr class="table-success">
            {% else %}
                <tr>
            {% endif %}
                {% include 'main/order.html' %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}